body
{
    /* background: #4299e1; */
    /* background: #063247; */
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: sans-serif;
    overflow: hidden;
    user-select: none;
}
.btn{
    display: flex;
}
.bg-light {
    background-color: #70bfff!important;
    padding-left: 2px;
    transform:tr ;
}
